* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color-red-1:#FF373C;
  --main-color-red-2:#F04142;
  --main-color-red-3:#EB6565;
  --main-color-black-1:#1F2329;
  --main-color-black-2:#40444A;
  --main-color-white-1:#F0F0F0;
  --main-color-white-2:#F7F7F7;
  --main-color-white-3:#FFFFFF;
  --main-color-blue:#4E83FC;

  --van-back-top-background: var(--main-color-red-2);
}

body {
  background-color:var(--main-color-white-2);
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-nav-bar {
  background-color:var(--main-color-red-2) ;
  .iconfont,.van-nav-bar__title {
    color:var(--main-color-white-3);
  }
}
.van-tabbar-item__icon {
  margin-bottom: 0;
  padding-top: 4px;
  font-size: 0;
}
.van-tabbar-item__text {
  font-size: 14px;
}
.van-tabs__wrap {
  margin-right: 30px;
  .van-tab {
    padding: 0;
    width: 49px;
  }
}


