* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-nav-bar {
  background-color:#f04142 ;
  .iconfont {
    color: #fff;
  }
  .van-nav-bar__title {
    color: #fff;
  }

  
}

:root {
  --van-back-top-background: #f04142;
}