:root {
  --van-back-top-background: var(--main-color-red-2);
}

.van-tabbar-item__icon {
  margin-bottom: 0;
  padding-top:8px;
  font-size: 0;
}
.van-tabbar-item__text {
  font-size: 26px;
}
.van-tabs__wrap {
  margin-right: 60px;
  .van-tab {
    padding: 0;
    width: 98px;
  }
}